<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    width : 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


</style>

</head>
<body>
    <table>
        
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        
        {% for i in emp%}

        <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.address}}</td>
        </tr>

        {% endfor %}
   
   
    </table>
</body>
</html>